// Colors
$clr1: #2e3644; 
$clr2: rgba(241, 222, 238, 0.63);
$clr3: #B22222;
$clr4: green;
$clr5: azure;
$clr6: lightseagreen;
$clr7: whiteSmoke;
$clrW: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;